<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>category</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.7/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body class="d-flex flex-column ">

    <header>

        <div th:replace="~{fragments/adminnavbar :: navbar('Dashboard')}"></div>

    </header>


    <main class="flex-grow-1 container menu-box">
        <section class="title row">
            <div class="col-12">
                 <h1 class="text-center"><span class="badge  text-bg-secondary">Categoria</span></h1>
            </div>
        </section>
        <section class="search-bar row justify-content-center mb-3">
            <form th:action="@{/categorys}" method="POST" class="col-12 d-flex justify-content-between">

            </form>
            <form th:action="@{/admin/categories}" th:object="${category}" method="post" class="mb-3">
                <div class="mb-3">
                    <label for="name"><h5 class=" text-white bg-success rounded ">Nome categoria</h5></label>
                    <input id="name" type="text" class="form-control" th:field="*{name}" required />
                </div>
                <button type="submit" class="btn btn-success">Salva categoria</button>
            </form>

        </section>
        <section class="menu-box mt-4 shadow-lg row">
            <form class="d-flex align-items-end mb-4 col-6 ms-auto" role="search" th:action="@{/categorys}"
                method="get">
                <input class="form-control me-2" type="search" placeholder="Cerca" aria-label="Search" name="search"
                    th:value="${search}">
                <button class="btn btn-primary" type="submit">Cerca</button>
            </form>

            <table class="table table-striped text-bg-warning p-3">
                <thead>
                    <tr>
                        <th class="scope">Categoria</th>
                        <th class="scope">Azioni</th>

                    </tr>
                </thead>
                <tbody class="text-bg-warning p-3">
                    <tr th:each="category: ${categories}">
                        <td th:text="${category.name}"></td>

                        <td>

                            <button sec:authorize="hasAuthority('ADMIN')" type="button"
                                class="d-inline btn btn-danger btn-sm" data-bs-toggle="modal"
                                th:data-bs-target="'#delete-modal-' + ${category.id}">
                                Delete
                            </button>
                            <div class="modal fade" th:id="'delete-modal-' + ${category.id}" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Deletion of <strong
                                                    th:text="${category.name}"></strong></h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Sei sicuro di volerlo eliminare? <strong
                                                    th:text="${category.name}"></strong></p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <form th:action="@{/admin/categories/delete/{id}(id=${category.id})}" method="post"
                                                class="d-inline">
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr th:if="${#lists.isEmpty(categories)}">
                        <td colspan="6" class="text-center text-danger fw-bold">Nessuna categoria disponibile al
                            momento.
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>


</body>

<div th:replace="~{fragments/footer :: footer}"></div>
<script th:src="@{/webjars/bootstrap/5.3.7/js/bootstrap.bundle.min.js}"></script>

</html>