<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profilo Operatore</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.7/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body class="d-flex flex-column ">
    <header>
        <div th:replace="~{fragments/adminnavbar :: navbar('Dashboard')}"></div>

    </header>
    <main class="flex-grow-1 container menu-box">
        <div class="container mt-4">
            <div class="col-12">
                <h1 class="text-center"><span class="badge  text-bg-secondary">Ticket</span></h1>
            </div>

            <div th:if="${errorMessage}" class="alert alert-danger mt-3 mb-3">
                <span th:text="${errorMessage}"></span>
            </div>

            <form th:action="@{/function/newprofile}" th:object="${users}" method="post">


                <input type="hidden" th:field="*{id}" />

                <div class="mb-3">
                    <label> <h5 class=" text-white bg-success rounded ">Username</h5></label>
                    <input type="text" class="form-control" th:field="*{username}" />
                </div>

                <div class="mb-3">
                    <label><h5 class=" text-white bg-success rounded ">Password</h5></label>
                    <input type="password" th:field="*{password}" />
                </div>



                <div class="mb-3">
                    <label><h5 class=" text-white bg-success rounded ">Email</h5></label>
                    <input type="email" class="form-control" th:field="*{email}" />
                </div>


                <div class="mb-3">
                    <label><h5 class=" text-white bg-success rounded ">Ruolo</h5></label>
                    <select class="form-select" th:field="*{roles}">
                        <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>

                    </select>
                </div>



                <div class="mb-3">
                    <label><h5 class=" text-white bg-success rounded ">Stato</h5></label>
                    <select class="form-select" th:field="*{status}">
                        <option value="ACTIVE">Attivo</option>
                        <option value="NOT_ACTIVE">Non attivo</option>
                    </select>

                    <input type="hidden" th:field="*{status}" />
                </div>




                <div>
                    <button type="submit" class="btn btn-primary">Salva Nuovo Profilo</button>
                    <a class="btn btn-secondary" th:href="@{/admin}">Annulla</a>
                </div>




            </form>
        </div>
    </main>
    <div th:replace="~{fragments/footer :: footer}"></div>

</body>
<script th:src="@{/webjars/bootstrap/5.3.7/js/bootstrap.bundle.min.js}"></script>

</html>