<th:block th:fragment="navbar(navbarTitle)">


    <nav class="navbar navbar-expand-lg bg-body-tertiary " data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">[[${navbarTitle}]]</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">

            </div>
            <div class="user-details text-primary">
            <a href="/login"><button type="button" class="btn btn-primary btn-lg text-center"  sec:authorize="!isAuthenticated()">Vai al
                        login</button></a>
             </div>
    </nav>

</th:block>