<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">

<head>
    <meta charset="UTF-8">
    <title>I miei Ticket</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.7/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body class="bg-light  d-flex flex-column">
    <header>
        <div th:replace="~{fragments/operatornavbar :: navbar('Dashboard')}"></div>
    </header>
    <main class="flex-grow-1 container mt-5 menu-box">
    <div class="container mt-5">

          <div class="col-12 pt-auto mt-auto">
                <h1 class="text-center"><span class="badge  text-bg-secondary">Ticket Assegnati</span></h1>
            </div>

        <div th:if="${tickets != null and !#lists.isEmpty(tickets)}">
            <table class="table table-bordered shadow-sm">
                <thead class="table-warning">
                    <tr>
                        <th>Titolo</th>
                        <th>Descrizione</th>
                        <th>Stato</th>
                        <th>Categoria</th>
                        <th>Creato il</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="ticket : ${tickets}">
                        <td th:text="${ticket.title}">Titolo</td>
                        <td th:text="${ticket.description}">Descrizione</td>

                        <td>
                            <form th:action="@{'/operator/' + ${ticket.id}}" method="post"
                                style="display:flex;gap:4px;">
                                <select class="form-select form-select-sm" name="status" style="width:auto;">
                                    <option th:value="TODO" th:selected="${ticket.status.name() == 'TODO'}">
                                        TODO
                                    </option>
                                    <option th:value="IN_PROGRESS"
                                        th:selected="${ticket.status.name() == 'IN_PROGRESS'}">
                                        IN_PROGRESS
                                    </option>
                                    <option th:value="COMPLETED" th:selected="${ticket.status.name() == 'COMPLETED'}">
                                        COMPLETED
                                    </option>
                                </select>
                                <button type="submit" class="bs-body-color btn-sm">✔</button>
                            </form>
                        </td>

                        <td th:text="${ticket.category?.name}">Categoria</td>
                        <td>
                            <span th:if="${ticket.createdAt != null}"
                                th:text="${#temporals.format(ticket.createdAt, 'dd/MM/yyyy HH:mm')}">Data</span>
                            <span th:if="${ticket.createdAt == null}">-</span>
                        </td>
                        <td>
                            <a th:href="@{/operator/{id}(id=${ticket.id})}" class="btn btn-primary btn-sm">Dettagli</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div th:if="${tickets == null or #lists.isEmpty(tickets)}" class="alert alert-warning text-center">
            Nessun ticket assegnato a te al momento.
        </div>

    </div>
    </main>
     <div th:replace="~{fragments/footer :: footer}"></div>
   
</body>
 <script th:src="@{/webjars/bootstrap/5.3.7/js/bootstrap.bundle.min.js}"></script>
</html>