<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Home Ticket Platform</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.7/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body class="bg-light">
    <div class="align-items-center">
        <h1 class="text-success bg-secondary bg-primary text-white text-center">Benvenuto nella Ticket
            Platform</h1>
    </div>
    <section class="container mt-5 pt-5 align-items-center">
        <div class="mt-4 mx-auto d-flex flex-column gap-3 pt-5 align-items-center col-6">
            <div sec:authorize="hasAuthority('ADMIN')">
                <a href="/admin"><button type="button" class="btn btn-primary btn-lg text-center">Vai all’area
                        Amministrazione</button></a>
            </div>


            <div sec:authorize="hasAuthority('OPERATOR')" class=" pt-3">
                <a href="/operator"><button type="button" class="btn btn-secondary btn-lg text-center">Vai all’area
                        Operatore</button></a>
            </div>
        </div>
    </section>



</body>

</html>