<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Home Ticket Platform</title>
</head>
<body>
    <h1>Benvenuto nella Ticket Platform</h1>

    
    <div sec:authorize="hasAuthority('ADMIN')">
        <a href="/admin"><button>Vai all’area Admin</button></a>
    </div>

    
    <div sec:authorize="hasAuthority('OPERATOR')">
        <a href="/operator"><button>Vai all’area Operatore</button></a>
    </div>

   
    
</body>
</html>
